# Prerequisites
*.d

# Compiled Object Files
*.slo
*.lo
*.o
*.obj

# Compiled Binary Files
main

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module Files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python stuff
__pycache__

# MacOS System Files
.DS_Store